<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/assets/css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="#">

                        <h2>Sarcastic<h2>
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="home.html">Home</a></li>
                                  
                   				
					     
                    <li><a href="FAQS.html">FAQs</a></li>
                      
                            
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center"> 
        <div class="intro">
		 <p>Don't take yourself so seriously,no one else does</p>
              
		   <a class="btn btn-white scrollto" data-scroll href="#about">About</a>

           
        
        </div>
    </header>

    <section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title">About Sarcasm</h3>

                    <p>Sarcasm is an ironic or satirical remark tempered by humor.Sarcasm is a figure of speech or speech comment which is extremely difficult to define. It is a statement or comment which means the opposite of what it says. It may be made with the intent of humour, or it may be made to be hurtful.Sarcasm is all about the context and tone of voice, which is why it works better verbally. It's something you'll know when you hear it.</p>

                    <figure>
                        <img alt="" class="img-responsive" src="../static/assets/images/emoji.jpg" align = "center">
                    </figure>

                </div><!-- /.col-sm-6 -->

                <div class="col-sm-6">

                    <h3 class="section-title multiple-title">What is sarcastic?</h3>

                    <p>Sarcasm is a sharp bitter or cutting expression or remark. Sarcasm may employ ambivalence, although sarcasm is not necessarily ironic. Most noticeable in spoken word, sarcasm is mainly distinguished by the inflection with which it is spoken and is largely context-dependent.</p>

                    <ul class="list-arrow-right">

                        <li>When you think about passing a sarcastic remark, your brain cells work harder to deliver it with the appropriate effect.</li>
                        <li>Giving out sarcastic remarks involves a lot of out of the box thinking.</li>
                        <li>People who are sarcastic often flock around people with similar mindsets. The beauty of sarcasm is it is a give and take thing</li>
                        <li>A sarcastic mind is configured to think out of the box. It empowers you to figure out a different perspective out of a complicated situation.</li>
						<li>Sarcasm plays a significant role in deriving creative solutions to problems</li>
						<li>Sarcasm is a higher level of intelligence and holds irony, satire, ridicule, and mockery all in one.</li>
						
                    </ul>
</div><!-- /.col-sm-6 -->
</div><!-- /.row -->
        </div><!-- /.container -->
    </section>
   
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    
                    <ul class="social-block">
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                        <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="../static/assets/css/mainbower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"></script>
</body>
</html>