<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FAQS</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../static/assets/css/main.css">
</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="#">

                        <h2>Sarcastic<h2>
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="home.html">Home</a></li>
                    <li><a href="about_us.html">About</a></li>              
                    	 			                
                                
                
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>

    <header id="site-header" class="site-header valign-center"> 
        <div class="intro">
            <h1>Sarcastic FAQS</h1>
			<a class="btn btn-white" data-scroll href='#faq'>FAQs</a>
        </div>
    </header>

   


    <section id="faq" class="section faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Sarcastic FAQs</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Is sarcasm the same as irony? </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body"><B>Sarcasm refers to the use of words that mean the opposite of what you really want to say, especially in order to insult someone, or to show irritation, or just to be funny.</B>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Can Sarcasm improve creativity?</a>
                                </h4>
                            </div>

                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body"><B>Sarcasm strengthens the right side of brain responsible for generating creative thoughts. Thus, sarcastic people are often creative in nature.</B></div>
                            </div>
                        </div>
						
  
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Can Sarcasm make you appear intelligent?</a>
                                </h4>
                            </div>

                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body"><B>Sarcasm and humor share a common trait.They require creative thinking that’s rapidly deployed to analyze a situation.Saying something that is funny and appropriate is difficult.</B></div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> When should I use sarcasm?</a>
                                </h4>
                            </div>

                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body"><B>It is used when bitterness is hard to express in a pleasant way or the objective is to say something without hurting somebody directly.</B></div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Is Sarcasm highest form of wit?</a>
                                </h4>
                            </div>

                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body"><B>Sarcasm is the lowest form of wit but the highest form of intelligence.Sarcasm involves constructing or exposing contradictions between intended meanings.</B></div>
                            </div>
                        </div>
						
						<!-- <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingsix">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">What are the symptoms of plantar fasciitis?</a>
                                </h4>
                            </div>

                            <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
                                <div class="panel-body">                                   
                                    <p><B>Common symptoms include mild pain on the bottom of the heel, especially when taking your first steps of the day. Often, symptoms improve only to worsen later in the day. This happens due to over-stressing of the plantar fascia causing a chronic healing response at the attachment to the bone that may remain sore for months.</B></p>
                                </div>
                            </div>
                        </div>
						
							<div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingseven">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapseseven">What causes plantar fasciitis?</a>
                                </h4>
                            </div>

                            <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
                                <div class="panel-body">
                                     
                                    <p><B>Like many degenerative conditions, it is caused by wear and tear of the fibers of the fascia. One of the most common causes, is a strain to the tissue due to a specific activity combined with improper or inadequate flexibility of the Achilles tendon and the calf muscle. Other causes include a pinched nerve in the heel region, thinning of the heel fat pad, or a stress fracture of the heel bone.</B></p>
                                </div>
                            </div>
                        </div>
						
						<div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingeight">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="true" aria-controls="collapseeight">When should you see a doctor?</a>
                                </h4>
                            </div>

                            <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
                                <div class="panel-body">
                                     
                                    <p><B>If the pain was caused by a specific episode or injury, and doesn’t improve within a week of resting and icing the area, you should seek medical help. Since most cases are chronic, and the pain appears gradually and begins to worse over time, see an orthopedic foot and ankle specialist when your quality of life begins to suffer despite taking time to rest, stretch and ice the area. The orthopedic foot and ankle specialist will take a history of your symptoms and your past medical conditions, examine your foot and leg and take an x-ray to rule out any other possible causes for the pain.</B></p>
                                </div>
                            </div>
                        </div>
							
								<div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingnine">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsenine" aria-expanded="true" aria-controls="collapsenine">What is the course of treatment?</a>
                                </h4>
                            </div>

                            <div id="collapsenine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingnine">
                                <div class="panel-body">
                                     
                                    <p><B>In general, our practice firmly recommends noninvasive treatment for majority of patients with plantar fasciitis. Stretching is by far the best therapy to relieve the painful symptoms without damaging the integrity of the plantar fascia. We offer simple, corrective stretches to loosen up the calf muscle, the Achilles tendon and of course the plantar fascia itself.</B></p>
                                </div>
                            </div>
                        </div>
						
						
							<div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingten">
                                <h4 class="panel-title">
                                    <a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseten" aria-expanded="true" aria-controls="collapseten">How do I know if I have plantar fasciitis?</a>
                                </h4>
                            </div>

                            <div id="collapseten" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingten">
                                <div class="panel-body">
								
                                    <p><B>If the plantar fascia becomes inflamed, you will begin to feel pain and stiffness in the heel. The pain can range from dull aches to sharp pains or burning sensations. The pain may either come on suddenly after a certain activity or it may develop slowly over time. If you have plantar fasciitis, pain on the bottom of your feet may be worse in the morning when you take your first steps, after standing or sitting for a while and/or when climbing stairs.</B></p>
                                </div>
                            </div>
                        </div>	-->		
						
                    </div>
                </div>
            </div>
    </section>

   
   
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-block">
                        <li><a href=""><i class="ion-social-twitter"></i></a></li>
                        <li><a href=""><i class="ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                        <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
    <script src="../static/assets/js/main.js"></script>
</body>
</html>